
.node {
    cursor: pointer;
}

.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
      r: 10;
}

.node rect {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
      x: -10;
      y: -10;
      width: 20;
      height: 20;
}

.node path {
    fill: #ffffff;
    /* stroke: steelblue; */
    stroke-width: 2px;
}
.node text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
}
.link /* path */ {
    fill: none;
    stroke: #cccccc;
    stroke-width: 2px;
}
.link text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
}
.hover text{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
}

/*
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
*/
